* {
  padding: 0;
  margin: 0;
  font-family: "Work Sans", sans-serif;
}
html {
  height: 100%;
}
body {
  background: rgb(63, 34, 195);
  background: linear-gradient(
    180deg,
    rgba(63, 34, 195, 0) 0%,
    rgba(72, 201, 176, 1) 83%
  );
  background-attachment: fixed;
  height: 100%;
}
