* {
  padding: 0;
  margin: 0;
}
body {
  background: rgb(63, 34, 195);
  background: linear-gradient(
    180deg,
    rgba(63, 34, 195, 0) 0%,
    rgba(72, 201, 176, 1) 83%
  );
  height: 100vh;
  overflow: hidden;
}
